{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>


    <label for="txtPost">Upload Images</label>
    <div class="input-group">
        <span class="input-group-btn">
            <span class="btn btn-primary btn-file">
                <input type="file" id="fileupload" name="file" multiple>
            </span>
        </span>
    </div>

    <div class="form-group">
        <input type="checkbox"> Mark as Private <span aria-hidden="true"></span>
        <input type="checkbox"> Mark as Done <span aria-hidden="true"></span>
    </div>



    <input type="submit" value="Save">
</form>
{% endblock %}